.container h1{
    color: white;
    background-color: black;
    width: 500px;
}

.container p{
    background-color: lightgrey;
    color: black;
    width: 500px;
    height: 30px;
    line-height: 30px;
}
